#SearchContent {
    height: 796px; 
    background: rgb(230, 230, 230); 
}

.SearchLink {
    font-size: 28px;
    background-color:rgba(0, 0, 0, 0); 
    border-width: 0 1px 0 0;
    border-color:black;
}
.SearchLink[name='vocals'] {
    border: none;
}
.SearchLink:hover {
    text-decoration: underline;
    color: rgb(218, 28, 91);
}


