@import url('https://fonts.googleapis.com/css?family=Arimo:700');
@import url('https://fonts.googleapis.com/css?family=Nunito:300');
.userHistoryPage{
    width: 100%;
    height: 600px;
    background-color: lightgrey;
    padding-top: 70px; 
    font-family: 'Nunito', sans-serif;
}

.userSampleCardHolder{
    height: 400px;
    width: 80%;
    background-color: white;
    margin:auto;
    border-radius: 5px;
    padding-top: 10px; 
    display: flex;
}

.userSampleCardHolder h1 {
    -webkit-text-stroke-width: px;
    -webkit-text-stroke-color: black;
 }

.foot{
    position: fixed;
    bottom: 0;
    right:0;
    left:0;
}

.col{
    width: 100%;
    height: 20%;
}