@import url('https://fonts.googleapis.com/css?family=Nunito:300');
.policyWrapper{
    font-family: 'Arimo', sans-serif;
    height: 100%;
   padding: 100px;
   padding-bottom: 150px;
   background-color: lightgray;
}

.policyContent{
    height: 100%;
    padding: 40px;
    width: 90%;
    background-color: white;
    margin:auto;
    border-radius: 5px;
}

.foot{
    position: fixed;
    bottom: 0;
    right:0;
    left:0;
}